{% load static %}
<header>
  <div class="container">
    <div class="row"></div>
    <div class="row"></div>
    <div class="row">
      <div class="col m6 offset-m3 s10 offset-s1">
        <div class="container">
          <img src="{% static 'home/img/logo.png' %}" alt="melomnia" class="responsive-img">
          <p class="center-align">Le réseau de l'enseignement musical</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="divider col s4 offset-s4"></div>
    </div>
  </div>
   
</header>