body {
    font-family: 'Raleway', sans-serif;
}

/* Navbar  */
nav .brand-logo {
    margin-left: 1rem;
}


/* Forms colors */
.input-field input[type=text]:focus + label {
    color: #311b92 !important;
}

.input-field input[type=text]:focus, .input-field input[type=email]:focus, .input-field input[type=password]:focus {
    box-shadow: 0 1px 0 0 #311b92 !important;
}

[type="radio"].with-gap:checked + span::after {
    background-color: #311b92 !important;
}

[type="radio"].with-gap:checked + span::before, [type="radio"].with-gap:checked + span::after {
    border-color: #311b92 !important;
}

.radio-label {
    color: black !important;
}

/* Clickable row */
.clickable-row {
    cursor: pointer;
}

.clickable-row:hover {
    background-color: #fff8e1;
}