{% extends 'home/base.html' %}

{% block content %}
<h1>Modifier les paramètres</h1>
<form action="{% url 'change_settings' %]" method="POST">
  {% csrf_token %}
  {% for field in settings_form %}
    {% if user.is_teacher and field.label != 'School name'  %}
      <div>
        {{ field.label }}
        {{ field }}
      </div>
    {% elif user.is_school and field.label not in school_exclude_fields  %}
      <div>
        {{ field.label}}
        {{ field }}
      </div>
    {% endif %}
  {% endfor %}
  {{ address_form }}
  <input type="submit" value="Modifier">
</form>
{% endblock %}