{% extends 'dashboard/dashboard.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <h4 class="center-align">Modifier mon mot de passe</h4>
  </div>
  <div class="row col s4 offset-s4">
    <div class="divider"></div>
  </div>
</div>
<div class="row"></div>
<div class="container">
  <form action="{% url 'change_password' %}" method="POST">
    {% csrf_token %}
    {% include "home/form-fields.html" %}
    <button class="waves-effect waves-light btn deep-purple darken-4 col m4 offset-m4 s8 offset-s2" type="submit">Valider les modifications</button>
    <a class="waves-effect waves-light btn amber darken-1 col m3 s6" href="{% url 'profile_settings' %}">Annuler</a>
  </form>
</div>
{% endblock %}