{% load static %}
<nav>
  <div class="nav-wrapper deep-purple darken-4">
    <a href="{% url 'dashboard:index' %}" class="brand-logo left"><img id="icon" src="{% static 'home/img/icon.png' %}" alt="m."></a>
    <ul id="nav-mobile" class="right">
      <li><a href="{% url 'jobs:index' %}" alt="emplois"><i class="material-icons left">work</i><span class="hide-on-small-only">Emplois</span></a></li>
      <li><a href="{% url 'profiles:settings' %}"><i class="material-icons left">settings</i><span class="hide-on-small-only">Paramètres</span></a></li>
      <li><a href="{% url 'accounts:logout' %}"><i class="material-icons left">exit_to_app</i><span class="hide-on-small-only">Deconnexion</span></a></li>
    </ul>
  </div>
</nav>
