{% extends "dashboard/dashboard.html" %}
{% load hours_filter %}
{% block content %}
<div class="container">
  <div class="row">
    <h4 class="center-align">Les offres d'emplois</h4>
  </div>
  <div class="row">
    <div class="divider col s4 offset-s4"></div>
  </div>
</div>
{% if user.is_school %}
<div class="container">
 <div class="row valign-wrapper">
   <span class="col s2 offset-s3 hide-on-small-only">Vous recrutez ?</span>
   <a href="{% url 'joboffer_create' %}" class="waves-effect waves-light btn amber black-text col s12 m6">Publier une offre</a>
 </div>
</div>
{% endif %}
<div class="container">
  <table class="centered">
    <thead>
      <th>Poste</th>
      <th>Nombre d'heures</th>
      <th>Ecole</th>
    </thead>
    <tbody>
      {% for job in jobs %}
        <tr class="clickable-row" data-url="{% url 'job_detail' job.id %}" >
          <td>{{ job.position }}</td>
          <td>{{ job.half_hour_count|hours }}</td>
          <td>{{ job.school }}</td>
        </tr>
      {% endfor %}
      </tbody>
  </table>
</div>
{% endblock %}