{% extends "dashboard/dashboard.html" %}
{% load hours_filter %}
{% block content %}
<div class="container">
  <div class="row">
    <h4 class="center-align">Les offres d'emplois</h4>
  </div>
  <div class="row">
    <div class="divider col s4 offset-s4"></div>
  </div>
</div>
<div class=container>
  <table class="centered">
    <thead>
      <th>Poste</th>
      <th>Nombre d'heures</th>
      <th>Ecole</th>
    </thead>
    <tbody>
      {% for job in jobs %}
        <tr class="clickable-row" data-url="{% url 'job_detail' job.id %}" >
          <td>{{ job.position }}</td>
          <td>{{ job.half_hour_count|hours }}</td>
          <td>{{ job.school }}</td>
        </tr>
      {% endfor %}
      </tbody>
  </table>
</div>
{% endblock %}