{% extends "dashboard/dashboard.html" %}
{% load hours_filter %}
{% block content %}
<div class="container">
  <div class="row">
    <h4 class="center-align">Les offres d'emplois</h4>
  </div>
  <div class="row col s4 offset-s4">
    <div class="divider"></div>
  </div>
</div>

<div class=container>
  <table>
    <thead>
      <th class="center-align">Poste</th>
      <th class="center-align">Nombre d'heures</th>
      <th class="center-align">Ecole</th>
    </thead>
    <tbody>
      {% for job in jobs %}
      <tr>
        <td class="center-align">{{ job.position }}</td>
        <td class="center-align">{{ job.half_hour_count|hours }}</td>
        <td class="center-align">{{ job.school }}</td>
      </tr>
      {% endfor %}
      </tbody>
  </table>
</div>
{% endblock %}